body{
    margin :0;
    font-family:  "Smythe", system-ui, Times, serif ;
}

footer{
    text-align: center;
    margin: 50px 0 50px 0;
}

.background{
    background-image: url(./images/black-burger.png);
    background-size: cover;
    
}

.container {
    
    width: 600px;
    margin : 0 auto;
    
}


.description{

    color:white;
    width:500px;
    margin: 40px 40px 40px 40px ;
    padding: 10px;
}

h1{
    font-size: 40px;
}
h2{
    font-size: 24px;
}
h3{
    text-align: center;
}

.menu {
    color:black;
}

.meal{
    display:flex;
    width:500px;
    margin: 0 auto;
    border-bottom: solid #3C3C3C 1px;
    padding : 50px 0 50px 0;
}

.emoji{
    font-size: 80px;
}

ul{
    list-style-type: none;
}

.plus{
    border-radius: 50%;
    width:50px;
    height:50px;
    border-color:#3C3C3C ;
    color:#3C3C3C;
    background-color: white;
    font-size: 32px;
    border: solid 1px #DEDEDE;
    margin-left:auto
}
.plus:hover{
    background-color: #16DB99;
    color:white;
}

 
.complete{
     background-color: #16DB99;
     color:white;
     font-family: Verdana, sans-serif;
     font-weight: bold;
     font-size: medium;
     border-radius: 3px;
     border: none;
     width: 500px;
     height: 60px;
    
}

.ingredients{
    color:#8B8B8B;
}


.checkout{
    width: 500px;
    display :none;
   
}


.item-burrito{

    display :none;
    flex-direction: row;
   
}

.item-burger{

    display :none;
    flex-direction: row;
   
}

.item-beer{

    display :none;
    flex-direction: row;
   
}

.total{
    
    border-top: solid  #3C3C3C ;
    padding-bottom : 40px;
    display: flex;
    flex-direction: row;
}

.total-cost{
    margin-left:auto;
}

.complete:hover{ 
    background-color:  #DEDEDE;
    color: #3C3C3C ;
    
}

.item{
    display: flex;
    flex-direction: row;
  
}

.remove{
     color:#8B8B8B;
    background-color: white;
    font-size: small;
      border: none;
}

.remove:hover{
    color: #16DB99;
}

.price{
    margin-left:auto;
}

